body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://res.cloudinary.com/dpjdxqrce/image/upload/v1549640960/Buev_Logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: grey;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  text-align: center; }
  .App .App-header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .App .App-header .header-img {
      margin-bottom: 10px; }
    .App .App-header .nav-links {
      display: flex;
      justify-content: center;
      flex-direction: row; }
    .App .App-header a {
      color: black;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }
  .App .social-icons {
    display: flex; }
  .App .icon {
    width: 2vw; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home p {
  font-size: 1.2em; }

.home-wrapper {
  position: relative;
  margin-top: 50px; }

.text {
  position: absolute;
  left: 70px;
  top: 90px;
  right: 70px;
  bottom: 0;
  text-align: justify; }

.home-bg-picture {
  width: 100vw; }

.front-list {
  text-align: center;
  list-style-position: inside; }

.col1-h5 {
  margin-bottom: 0.9px !important; }

.vorstand {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.vorstand-col1 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: left; }

.vorstand-col2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  align-content: stretch; }

.btn-link {
  text-decoration: none !important;
  color: white !important; }

.profile-pic {
  border-radius: 100px;
  width: 150px;
  margin: 10px; }

.about {
  margin: 20px; }
