body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  background-image: url("https://res.cloudinary.com/dpjdxqrce/image/upload/v1549640960/Buev_Logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: grey;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  text-align: center; }
  .App .App-header {
    background-color: white;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center; }
    .App .App-header a {
      color: black;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }
  .App .social-icons {
    display: flex; }
  .App .icon {
    width: 2vw; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home p {
  font-size: 1.2em; }

.home-wrapper {
  position: relative; }

.text {
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0; }

.home-bg-picture {
  width: 100vw; }

.projects {
  display: flex;
  margin: 10px; }

.project {
  margin: 10px; }

.btn-link {
  text-decoration: none !important;
  color: white !important; }

.profile-pic {
  border-radius: 100px;
  width: 150px;
  margin: 10px; }

.about {
  margin: 20px; }
